#formCreator {
    min-height: 8em;
    background-color: #e91e63;
    border-radius: 1em;
    padding-bottom: 10em;
    padding-top: 0.5em;
}

.typeSpan {
	width: fit-content;
	background-color: #00FFE1;
	border-radius: 1em;
	padding: 0.1em 0.5em;
}

.questionObj, #formName {
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 1em;
	border-radius: 1em;
	background-color: #49f;
}

.questionObj p, #formName p {
	display: inline-block;
    width: fit-content;
    margin: 0;
}

#formObjects ul {
	display: flex;
	flex-direction: column;
	padding: 0;
}

#formObjects ul li {
	width: 90%;
	list-style: none;
	text-align: center;
	padding: 0.5em;
	margin: 0.3em auto;
	border-radius: 1em;
	background-color: cyan;
}

@media only screen and (min-width: 768px){
	#formObjects ul {
		flex-wrap: wrap;
		flex-direction: row;
	}
	
	#formObjects ul li {
		flex: 1 0 40%;
		margin: 0.5em 1em;
	}
}