h1, h2, h3, h4, h5, h6, p, a, span, li{
	font-family: 'Inter', san-serif;
}

#formCreator {
    min-height: 15em;
    background-color: #1A237E;
    border-radius: 1em;
    padding-bottom: 10em;
    padding-top: 0.5em;
}

.typeSpan {
	width: fit-content;
	background-color: #00FFE1;
	border-radius: 1em;
	padding: 0.1em 0.5em;
}

.questionObj, #formName {
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 1em;
	border-radius: 1em;
	background-color: #49f;
}

.questionObj p, #formName p {
	display: inline-block;
    width: fit-content;
    margin: 0;
}

.warningSection {
	border-radius: 2rem;
	padding: 1em 2em;
	margin: 1em auto;
	border-top: none;
	background-color: #ffc107;
}

#formDetailsHidden {
	display: none;
}

#formDetails {
	display: block;
}

.idZone{
	background-color: #00FFE1;
	border-radius: 1em;
	padding: 0.1em 0.5em;
}

.linkZone a{
	color: #69006B;
	white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#formObjects ul {
	display: flex;
	flex-direction: column;
}

#formObjects ul li {
	width: 60%;
	list-style: none;
	text-align: center;
	padding: 0.5em;
	margin: 0.5em auto;
	border-radius: 1em;
	background-color: cyan;
}

button {
	border-radius: 2rem;
	display: block;
	width: 100%;
	height: 3em;
	line-height: 3em;
	margin: 1em auto;
	border: none;
	text-decoration: none;
    background-color: #0060df;
    color: #ffffff;
}

.disableBtn {
	background-color: #525252;
}

@media only screen and (min-width: 768px){
	main {
		width: 70%;
		margin: 0 auto;
	}

}