.formItem {
	display: flex;
	flex-direction: column;
	border-radius: 2rem;
	padding: 1em 2em;
	margin: 1em auto;
	border-top: none;
	background-color: #7df;
}

.formItem > p {
	margin: 0.3em 0.5em;
}

.formItem > p a{
	background-color: white;
	border-radius: 1em;
	color: black;
	text-decoration: none;
	padding: 0.1em 0.5em;
}

#viewFormsZone {
	border-top: none;
}

section {
	border-top: solid;
}